#bgText{
    background-color: #2e1f37;
    width: 100%;
   margin-top: 10%;
    color :white;
    text-align: left;
    padding: 0;
}
#txtwrt{
    margin-top: -30%;
    margin-left: 10%;
    font-size: 20px;
}
.bultsign{
    font-size: 28px;
}