/* FloatingButton.css */
.floating-button {
    position: fixed;
    margin-bottom:20%;
    bottom: 20px;
    right: -50px;
    background-color: #f7ff11;
    color:  rgb(0, 136, 255);
    border: none;
    border-radius: 10%;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    rotate: 90deg;
  }
  
  .floating-button:hover {
    background-color: #16a085;
  }
  @media only screen and (min-width:0px) and (max-width:377px) {
    .floating-button {
    right: -15px;
    }
  }