*
{
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
#funfactheading{
    transition: all 0.5s;
    -webkit-text-stroke: 4px #d6f4f4;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 6rem;
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc,
      15px 15px 0px #290433,
      20px 20px 0px #d601e9,
      25px 25px 0px #cc04f4,
      45px 45px 10px #482896;
    cursor: pointer;
}
/* text-shadow: 10px 10px 0px #07bccc,
      15px 15px 0px #e601c0,
      20px 20px 0px #e9019a,
      25px 25px 0px #f40468,
      45px 45px 10px #482896; */
#funfactheading:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }
#funfactcardtitle{
    margin:0px;
    font-size:1.4em;
    font-weight:700;
  }
  #funfactpara{
    font-size:12px;
  }
  #center{
    height:85vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.property-card
{ margin: 10px;
  height:20em;
  width:18em;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
  -ms-flex-direction:column;
  flex-direction:column;
  position:relative;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius:16px;
  overflow:hidden;
  -webkit-box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  box-shadow:  15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
}
/* ^-- The margin bottom is necessary for the drop shadow otherwise it gets clipped in certain cases. */

/* Top Half of card, image. */

.property-image
{
  height:10em;
  width:18em;
  padding:1em 2em;
  position:Absolute;
  top:0px;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-image:url('./Assets/DSC_0072.jpg');
  background-size:cover;
  background-repeat:no-repeat;
}
#img2fun{
    background-image: url('./Assets/DSC_0176.jpg');
}
#img3fun{
    background-image:url('./Assets/DSC_0764\ -\ Copy\ \(2\).jpg')
}
/* Bottom Card Section */

.property-description
{
  background-color: #FAFAFC;
  height:12em;
  width:18em;
  position:absolute;
  bottom:0em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 0.5em 1em;
  text-align:center;
}

/* Social Icons */

.property-social-icons
{
  width:1em;
  height:1em;
  background-color:black;
  position:absolute;
  bottom:1em;
  left:1em;
  -webkit-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition:all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

/* Property Cards Hover States */

.property-card:hover .property-description
{
  height:0em;
  padding:0px 1em;
}
.property-card:hover .property-image
{
  height:20em;
}

.property-card:hover .property-social-icons
{
  background-color:white;
}

.property-card:hover .property-social-icons:hover
{
  background-color:blue;
  cursor:pointer;
}
@media only screen and (min-width:0px) and (max-width:377px) {
  #center{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }
  #mainfunfact{

    margin-bottom: 175%;
  }
  #funfactheading{
    font-size: 4.5rem;
    margin-left: -5%;
  }
  .property-card{
    margin-left: 10%;
    /* margin-top: 5%; */
  }
}