@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;900&display=swap');
.container  {
    position: absolute;
    left: 57%;
    top: 46%;
    transform: translate(-70%, -70%);
    height: 400px;
    width: 600px;
    background: #f2f2f2;
    overflow: hidden;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 0 0 20px 8px #d0d0d0;
  }
  
  .content {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: justify;
    color: black;
    padding: 40px;
    font-family: 'Merriweather', serif;
  }
  
  #posterh1 {
    font-weight: 900;
    text-align: center;
  }
  
 #posterh3 {
    font-weight: 300;
  }
  
  .flap {
    width: 100%;
    height: 100%;
  }
  
  .flap::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background:black;
    background-position: 100px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .flap::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 0%;
    right: 0;
    background-position: -200px;
    background-repeat: no-repeat;
    transition: 1s;
  }
  
  .container:hover .flap::after {
    transform: translatex(300px);
  }
  
  .container:hover .flap::before{
    transform: translatex(-300px);
  }
  @media only screen and (min-width:0px) and (max-width:377px) {
    .container{
      top: 41.5%;
      width: 210px;
      height:100px;
      margin-left: 10%;
      margin-top: -30%;
      margin-bottom: 10%;
    }
    
    .container:hover .flap::before{
      transform: translatex(-110px);
    }
    #title_touchme{
      font-size: 20px;
    }
  }