#vidmain{
    display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 20px;
  margin-bottom: 50px;
  
}
 #previus_heading{
    color:#2e1f37;
    margin-top: 100px;
    margin-bottom: 30px;
} 
@media only screen and (min-width:320px) and (max-width:800px) {
  #vidmain{
    grid-template-columns: repeat(2,1fr);
  }
}

@media only screen and (min-width:0px) and (max-width:377px) {
  #vidmain{
    grid-template-columns: repeat(1,1fr);
  }
}