/* RhombusButton.css */
/* .rhombus-button {
    position: relative;
    width: 120px;
    height: 100px;
    background-color: #1abc9c;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transform: rotate(45deg);
    transition: background-color 0.3s;
  }
  
  .rhombus-button::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .rhombus-button:hover {
    background-color: #16a085;
  }
  
  .rhombus-button:hover::before {
    opacity: 1; */
  /* } */

  /* ParallelogramButton.css */
  .rhombus-button {
    position: relative;
    width: 100px;
    height: 30px;
    background-color: #a764a9;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden;
    transform: skewX(-20deg);
    transition: background-color 0.3s;
  }
  
  .rhombus-button :hover {
    background-color: #cd5ff8;
  }
  
  