
  h1{
    font-size: 32px;
  }

  h2{
    color: white;
   
    font-size: 22px;
  }
  #bl-top{
    margin-bottom: 40%;
    margin-left: 15%;
  }
  #bl-H3{
    margin-right: 15%;
  }
  #bl-top,#bl-H3{
    color: #2e1f37;
  }
  .middle-heading
    {  
      position: absolute;
      top: 50.5%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .container-stand
    {
      position: relative;
      display: inline-block;
      padding: 0 40px;
      cursor: pointer;
    }

    .text-heading
    {
      font-size: 27px;
      text-transform: uppercase;
      font-weight: 900;
      position: relative;
      color: #34495e; 
    }

    .text-heading::before
    {
      content: attr(data-text);
      position: absolute;
      color: #fff;
      width: 0;
      overflow: hidden;
      transition: 0.6s;
    }

    .container-stand::before
    {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      background: #2e1f37;
      right: 0;
      top: 0;
      transition: 0.6s;
    }

    .container-stand:hover .text-heading::before,.container-stand:hover::before
    {
      width: 100%;
    }
 
  .hex {
    
    display:flex;
    margin: auto;
    align-items: center;
    margin-top: -40%;
    margin-left: 25%;
    --s: 100px;  /* size  */
    --m: 4px;    /* margin */
    --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  }
  
  .hex-container {
    font-size: 0; /*disable white space between inline block element */
  }
  .hex-topic{
     margin: 15px;
     font-size: medium;
  }
  .hex-container div {
     width: var(--s); 
    margin: var(--m);
    height: calc(var(--s)*1.1547); 
    display: inline-block;
    font-size:initial;
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    background: rgb(72, 6, 95);
    margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  }
  .hex-container div:nth-child(odd) {
    background:#2e1f37;
  }
  .dark-colr:hover{
    background: #48065f;
  }
  .light-colr:hover{
    background: #2e1f37;
  }
  .hex-container::before {
    content: "";
    width: calc(var(--s)/2 + var(--m));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(     
                     #0000 0 calc(var(--f) - 3px),      
                     #000  0 var(--f));
  }
  #text-cont{
    display: flex;
    text-align: left;
    height:300px;
     width: 100%;
     align-items: flex-end;
     justify-content: space-around;
  }
  #text-cont>div{
    width: 30%;
  }
  #main_stand{
    margin-top: 50%;
  }
 
  @keyframes slideIn {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  