#mainzigzag{
    display: flex;
    margin-left: 50%;
}
.zigzag-container {
    display: flex;
    align-items: center;
    width:250px; /* Adjust as needed */
    height: 20px; /* Adjust as needed */
    margin-left: -30%;
    margin-bottom: 50px;
    margin-top: -3%;
   
  }
  .floating-div_whatsnew {
    /* position: absolute; */
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2e1f3700;
    padding: 0px;
    border-radius: 8px;
    /* margin-bottom: -20%; */
    font-size: 32px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  }
  .zigzag-line {
    width: 100%; /* Adjust as needed */
    height: 10%; /* Adjust as needed */
    background-color: #2e1f37; /* Line color */
  }
  .zigzag-line:nth-child(odd) {
    /* transform: rotate(45deg); */
    margin-right: -20px; 
    
  }
  
  .zigzag-line:nth-child(even) {
    transform: rotate(-48deg);
    margin-left: 0px; 
    
  }
  #firstline{
    margin-top: 30%;
  }
  #lastline{
    margin-bottom: 30%;
    margin-left: -20px;
    
  }
  #btncard{
    margin-top: -7.5%;
    
  }